@model FrontendBlazor.Models.PolicyClassViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PolicyClassViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyclassId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyclassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PossibleGoods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PossibleGoods)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
