@{
    ViewBag.Title = "Seguros_List";
    Layout = "~/Views/Shared/FrontPageLayout.cshtml";
}




<div id="content" class="site-content">
    <div class="page-header">
        <div class="container">
            <div class="breadc-box no-line">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="page-title">Seguros Empresariales</h1>
                    </div>
                    <div class="col-md-6 mobile-left text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="wpb_row row-fluid row-o-equal-height row-flex section-padd">
        <div class="container">
            <div class="row">
                <div class="wpb_column column_container col-sm-6 col-md-4">
                    <div class="column-inner">
                        <div class="wpb_wrapper">
                            <div class="service-box icon-box ionic hover-box">
                                <i class="ion-md-umbrella ion-logo-umbrella"></i>
                                <div class="content-box">
                                    <h4>Seguro Riesgos del Trabajo</h4>
                                    <p>Brindan amparo a colaboradores de la empresa. Es un seguro de Ley que todo patrón debe adquirir para amparar a sus trabajadores, en adición al seguro de la Caja.</p>
                                    <a class="link-box pagelink" href="@Url.Action("SeguroRT", "Home")">Leer más</a>
                                </div>
                            </div>

                            <div class="empty_space_30"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column column_container col-sm-6 col-md-4">
                    <div class="column-inner">
                        <div class="wpb_wrapper">
                            <div class="service-box icon-box ionic hover-box">
                                <i class="ion-md-cube ion-logo-cube"></i>
                                <div class="content-box">
                                    <h4>Seguro de Transporte</h4>
                                    <p>Brindan amparo a la mercadería mientras se transporta por la vía terrestre, desde que salen de sus bodegas o las del proveedor, hasta que lleguen a su destino final.</p>
                                    <a class="link-box pagelink" href="@Url.Action("SeguroTransporte" , "Home")">Leer más</a>
                                </div>
                            </div>

                            <div class="empty_space_30"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column column_container col-sm-6 col-md-4">
                    <div class="column-inner">
                        <div class="wpb_wrapper">
                            <div class="service-box icon-box ionic hover-box">
                                <i class="ion-md-cash ion-logo-cash"></i>
                                <div class="content-box">
                                    <h4> Seguros Patrimoniales</h4>
                                    <p>Brindan soporte económico ante la ocurrencia de eventos que afecten Edificios, Mobiliario, Mercadería y otros bienes propiedad de la empresa.</p>
                                    <a class="link-box pagelink" href="@Url.Action("SeguroPatrimonial" , "Home")">Leer más</a>
                                </div>
                            </div>
                            <div class="empty_space_30"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column column_container col-sm-6 col-md-4">
                    <div class="column-inner">
                        <div class="wpb_wrapper">
                            <div class="service-box icon-box ionic hover-box">
                                <i class="ion-md-pulse ion-logo-pulse"></i>
                                <div class="content-box">
                                    <h4>Seguro para Importaciones o Exportaciones</h4>
                                    <p>Brindan amparo a la mercadería objeto de exportación o importación, desde su salida y hasta su llegada al destino final. Durante su transporte (aéreo, marítimo o terrestre) su mercadería estará siempre protegida</p>
                                    <a class="link-box pagelink" href="@Url.Action("SeguroExpImp" , "Home")">Leer más</a>
                                </div>
                            </div>
                            <div class="empty_space_30"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column column_container col-sm-6 col-md-4">
                    <div class="column-inner">
                        <div class="wpb_wrapper">
                            <div class="service-box icon-box ionic hover-box">
                                <i class="ion-md-podium ion-logo-podium"></i>
                                <div class="content-box">
                                    <h4>Seguro de Responsabilidad Civil</h4>
                                    <p>Protegen su actividad comercial al brindar soporte económico ante la ocurrencia de eventos que lesionen o maten a terceros o la propiedad de los mismos, que visiten la empresa o durante el ejercicio de su profesión </p>
                                    <a class="link-box pagelink" href="@Url.Action("SeguroRespCivil" , "Home")">Leer más</a>
                                </div>
                            </div>
                            <div class="empty_space_30"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column column_container col-sm-6 col-md-4">
                    <div class="column-inner">
                        <div class="wpb_wrapper">
                            <div class="service-box icon-box ionic hover-box">
                                <i class="ion-md-cash ion-logo-cash"></i>
                                <div class="content-box">
                                    <h4>Seguro Colectivo de Salud</h4>
                                    <p>Este seguro permite al empleador brindarle cobertura a sus empleados en el área de salud y vida, de una manera eficiente y económica. Permite al tomador birndar cobertura de gastos médicos y así poder mantener la salud óptima dentro de las empresas</p>
                                    <a class="link-box pagelink" href="@Url.Action("Seguro1" , "Home")">Leer más</a>
                                </div>
                            </div>
                            <div class="empty_space_30"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


