@model FrontendBlazor.Models.PolicyTypeViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PolicyTypeViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuraceCId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuraceCId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyDateRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyDateRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyCostRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyCostRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyClassId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptedCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyLineId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyLineId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyCod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyCod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aply)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
