@model IEnumerable<FrontendBlazor.Models.PolicyTypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PolicyTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuraceCId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyDateRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyCostRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyClassId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuraceCId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyDateRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyCostRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyClassId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
