<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portal de seguros MVR Virtual, para el manejo de pólizas de seguros de todo tipo" />

    <meta name="keywords" content="Seguros, Agente de Seguros, INS, Pólizas, Seguros Autos, MVR Seguros, GSI Seguros, GSI"  />
    <title>MVR Seguros</title>



    <link rel="stylesheet" id="bootstrap-css" href="~/Content/assets/css/bootstrap.css" type="text/css" media="all">
    <link rel="stylesheet" id="awesome-font-css" href="~/Content/assets/css/font-awesome.css" type="text/css" media="all">
    <link rel="stylesheet" id="ionicon-font-css" href="~/Content/assets/css/ionicon.css" type="text/css" media="all">
    <link rel="stylesheet" id="royal-preload-css" href="~/Content/assets/css/royal-preload.css" type="text/css" media="all">
    <link rel="stylesheet" id="slick-slider-css" href="~/Content/assets/css/slick.css" type="text/css" media="all">
    <link rel="stylesheet" id="slick-theme-css" href="~/Content/assets/css/slick-theme.css" type="text/css" media="all">
    <link rel="stylesheet" id="consultax-style-css" href="~/Content/assets/css/style.css" type="text/css" media="all">

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/revolution/css/settings.css">

    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/revolution/css/navigation.css">

    <link rel="shortcut icon" href="~/Content/assets/images/INS.png">

    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () {
            null
        };
    </script>
</head>
<body class="royal_preloader">
    <div id="page" class="site">

        <header id="site-header" class="site-header mobile-header-blue header-style-1">
            <div id="header_topbar" class="header-topbar md-hidden sm-hidden clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- social icons -->
                            <ul class="social-list fleft">
                                <li>
                                    <a href="https://wa.me/50687291853" target="_blank">
                                        <img src="~/Content/assets/images/pngtree-whatsapp-icon-social-media-png-image_6618452.png" class="show" alt="WhatsApp">
                                    </a>
                                </li>
                            </ul>
                            <!-- social icons close -->
                            <div class="fright">
                                <a class="btn" href="@Url.Action("Login", "Registration")">INICIAR SESIÓN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top bar close -->
            <!-- Main header start -->
            <div class="main-header md-hidden sm-hidden">
                <div class="main-header-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-wrap-table">
                                    <div id="site-logo" class="site-logo col-media-left col-media-middle">
                                        <a href="@Url.Action("Index","Home")">
                                            <img class="logo-static" src="~/Content/assets/images/MVRVirtual.png"alt="MVRSeguros">
                                            <img class="logo-scroll" src="~/Content/assets/images/MVRVirtual.png" alt="Consultax">
                                        </a>
                                    </div>
                                    <div class="col-media-body col-media-middle">
                                        <!-- contact info -->
                                        <ul class="info-list info_on_right_side fright">
@*                                             <li>
                                                <span>Direccion: <strong>300 este de los Tribunales de Justicia de Goicochea Barrio Santa Cecilia, Guadalupe, San José.</strong></span>
                                            </li> *@
                                            <li>
                                                <span>
                                                    Contactenos: <br />  <strong class="font-size18">(506) 8729-1853</strong> <br />
                                                    <strong class="font-size18">  marcela.vr@gmail.com  </strong>
                                                </span>
                                            </li>
                                        </ul>
                                        <!-- contact info close -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-header-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="header-mainnav">
                                    <div id="site-navigation" class="main-navigation fleft">
                                        <ul id="primary-menu" class="menu">
                                            <li>
                                                <a href="@Url.Action("Index","Home")">Inicio</a>
                                            </li>
                                            <li class="menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1789">
                                                <a href=#>Servicios</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item-1791"><a href="@Url.Action("Login" ,"Registration")">Seguros Virtual</a></li>
                                                    <li class="menu-item-1758"><a href="@Url.Action("AppointmentsOptions", "Appointments")">Agendar una cita</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href=#>Nuestros Seguros</a>
                                                <ul class="sub-menu">
                                                    <li> <a href="@Url.Action("Seguros_List" ,"Home")"> Seguros Empresariales</a>  </li>
                                                    <li><a href="@Url.Action("Seguros_List_Pers" ,"Home")">Seguros Personales</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href=#>Quienes Somos?</a>
                                                <ul class="sub-menu">
                                                    <li><a href="@Url.Action("AboutUs","Home")">Sobre Nosostros </a></li>
                                                </ul>
                                            </li>
                                            <li><a href="@Url.Action("Create", "Ticket")">Contactanos</a></li>

                                    </div>
                                    <!-- #site-navigation -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Main header close -->
            <div class="header_mobile">
                <div class="mlogo_wrapper clearfix">
                    <div class="mobile_logo">
                        <a href="#"><img src="~/Content/assets/images/MVRVirtual.png" alt="MVR"></a>
                    </div>
                    <div id="mmenu_toggle">
                        <button></button>
                    </div>
                </div>
                <div class="mmenu_wrapper">
                    <div class="mobile_nav collapse">
                        <ul id="menu-main-menu" class="mobile_mainmenu">
                            <li class="current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children">
                                <a href="@Url.Action("Index","Home")">Inicio</a>
                            </li>
                            <li class="menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1789">
                                <a href="@Url.Action("Seguros_List" ,"Home")">Nuestros Seguros</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="@Url.Action("AboutUs","Home")">¿Quienes somos?</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="@Url.Action("Create", "Ticket")">Contactanos</a>
                            </li>
                            <li class="menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1731">
                                <a href="@Url.Action("Login" ,"Registration")">Iniciar Sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- #site-header -->
        @RenderBody()
        <!-- #content -->

        <footer id="site-footer" class="site-footer bg-second">
@*             <div class="main-footer">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-6">
                            <div id="media_image-1" class="widget widget_media_image">
                                <a href="index.html"><img src="~/Content/assets/images/logo-white.svg" alt=""></a>
                            </div>
                        </div>
                        <!-- end col-lg-3 -->

                        <div class="col-md-3 col-sm-6">
                            <section id="custom_html-2" class="widget_text widget widget_custom_html padding-left">
                                <h4 class="widget-title">Servicios</h4>
                                <div class="textwidget custom-html-widget">
                                    <ul class="padd-left">
                                        <li><a href="@Url.Action("Seguros_List" ,"Home")">Seguros Empresariales</a></li>
                                        <li><a href="@Url.Action("Seguros_List_Pers" ,"Home")">Seguros Personales</a></li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                        <!-- end col-lg-3 -->

                        <div class="col-md-3 col-sm-6">
                            <section id="custom_html-3" class="widget_text widget widget_custom_html padding-left">
                                <h4 class="widget-title">Marcela Vega Seguros</h4>
                                <div class="textwidget custom-html-widget">
                                    <ul class="padd-left">
                                        <li><a href="@Url.Action("Index" ,"Home")">Inicio</a></li>
                                        <li><a href="@Url.Action("AboutUs","Home")">Sobre nosotros</a></li>
                                        <li><a href="@Url.Action("Create", "Ticket")">Contacto</a></li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                        <!-- end col-lg-3 -->
                        
                        <div class="col-md-3 col-sm-6">
                        <section id="mc4wp_form_widget-1" class="widget widget_mc4wp_form_widget">
                        <h4 class="widget-title">Envié sus consultas</h4>
                        <!-- Mailchimp for WordPress v4.5.2 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                        <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-1696" method="post" data-id="1696" data-name="Consultax Subscribe">
                        <div class="mc4wp-form-fields">
                        <div class="footer-sub">
                        <input type="text" name="NAME" placeholder="Nombre" required="">
                        <input type="email" name="EMAIL" placeholder="Email" required="">
                        <input type="text" name="QUERY" placeholder="Consulta" required="">
                        <input type="submit" class="btn" value="Subscribe">
                        </div>
                        </div>
                        <input type="hidden" name="_mc4wp_timestamp" value="1560227031">
                        <input type="hidden" name="_mc4wp_form_id" value="1696">
                        <input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
                        <div class="mc4wp-response"></div>
                        </form>
                        <!-- / Mailchimp for WordPress Plugin -->
                        </section>
                        </div> 
                        <!-- end col-lg-3 -->

                    </div>
                </div>
            </div> *@
            <!-- .main-footer -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-copyright">
                                ©2023 Marcela Vega Seguros
                            </div>
                        </div>
                        @*                         <div class="col-md-6">
                        <div class="footer-nav text-right mobile-center">
                        <ul id="footer-menu" class="none-style">
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        </ul>
                        </div>
                        </div> *@
                    </div>
                </div>
                <a id="back-to-top" href="#" class="show"></a>
@*                 <a href="https://wa.me/50687291853" target="_blank">
                    <img src="~/Content/assets/images/whatsapp-icon.gif" class="show" alt="WhatsApp">
                </a> *@
            </div>
            <!-- .copyright-footer -->
        </footer>
        <!-- #site-footer -->
    </div>
    <script type='text/javascript' src='~/Content/assets/js/jquery-3.6.4.min.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/jquery.min.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/countto.min.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/jquery.isotope.min.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/royal_preloader.min.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/slick.min.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/scripts.js'></script>
    <script type='text/javascript' src='~/Content/assets/js/header-footer.js'></script>

    <script type="text/javascript" src="~/Content/assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="~/Content/assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <!-- RS5.0 Extensions Files -->
    <script type="text/javascript" src="~/Content/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>





    <script>
        jQuery(document).ready(function () {
            jQuery("#revolution-slider").revolution({
                sliderType: "standard",
                delay: 7500,
                navigation: {
                    arrows: { enable: true }
                },
                spinner: "off",
                gridwidth: 1170,
                gridheight: 700,
                disableProgressBar: "on",
                responsiveLevels: [1920, 1229, 991, 480], gridwidth: [1170, 970, 750, 450], gridheight: [700, 700, 700, 700]
            });
        });



    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>